*{
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  height: 10vmin;
  background-color: #023047;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
}

.btn_container{
  padding-top: 25px;
  display: flex;
  justify-content: center;
}
.choice_button {
  margin: 1vmin;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
  background-color: #8ecae6;
  cursor: pointer;
}
.choice_button:hover{
  border: solid 2px black;
}
img {
  height: 75px;
}
.reset_button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.reset_button img {
  height: 50px;
}
#result {
  color: #e76f51; 
  font-size: 2.5em;
  font-weight: bold; 
  gap: 1vmin;
}
h3{
  margin: 2vmin;
}
#score{
  color: #fb8500;
  font-size: 1.5em;
}
